<h2>Playlist Page</h2>
<button class="btn btn-info pull-right" ng-click="clear()">Clear Songs</button>
<h4>Drag items to reorder songs</h4>
<table class="table">
    <thead>
        <tr>
            <th>Song</th>
            <th>Artist</th>
            <th>Duration <span ng-show="total">({{total | minutes}})</span></th>
            <th>Popularity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="list" ui-sortable="sortableOptions" ng-model="songs">
        <tr ng-repeat="data in songs" class="item">
            <td>{{data.name}}</td>
            <td>{{data.artists[0].name}}</td>
            <td>{{data.duration_ms | minutes}}</td>
            <td>{{data.popularity}}</td>
            <td><button class="btn btn-danger" ng-click="remove(data)">Remove</button></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="3"><strong ng-show="total">{{total | minutes}}</strong></td>
        </tr>
    </tbody>
</table>